.dotstyle ul {
  left: 97.6%;
  top: 40%;
	position: absolute;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

.dotstyle li {
	position: relative;
	display: block;
	margin: 19px 10px;
	width: 7px;
	height: 7px;
	cursor: pointer;
}

.dotstyle li a {
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
  opacity: 0;
}

.dotstyle-tooltip li {
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.3);
  -webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

/*Appear left */
.dotstyle-tooltip li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 8px;
	bottom: -2.3px;
	left: -300%;
	visibility: hidden;
	color: #fff;
	text-indent: 0;
  -webkit-transform: translateX(-50%);
	transform: translateX(-50%);
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease;
}

.dotstyle-tooltip li a::after {
	margin-top: -6px;
	content: '';
	pointer-events: none;
	top: 50%;
  -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.dotstyle-tooltip li:hover a,
.dotstyle-tooltip li.current a {
	visibility: visible;
	opacity: 1;
  -webkit-transform: translateX(-50%) ;
	transform: translateX(-50%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.dotstyle-tooltip li.current {
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
    -webkit-transform: scale(2);
  	transform: scale(2);
    font-size: 10px;

}
.dotstyle-tooltip li:hover {

  background-color: rgba(0,0,0,0.3);
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
  -webkit-transform: scale(1.7);
	transform: scale(1.7);
	z-index: 100;
}


.dotstyle-tooltip ul li.current:hover a {
	opacity: 1;
}
